/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2014, 3:35:35 PM
    Author     : weiwei
*/

/*state of the navigation of the whole site*/

#start{
    margin:20px 0;
}
.page_navi li{
	background-color: #fff;
	color:#357ebd;
	border-radius: 15em;

}

.page_navi li>.active{
	background-color: #357ebd;
	color:#fff;
	border-radius: 15em;
}




/* style for the left sidebar in editpage*/
.nav-sidebar{
    margin-left: -50px;
    margin-top: 5%;
    position: fixed;
}
.nav-sidebar>ul{
    margin-top: 0;
    list-style: none;

}
.nav-sidebar>li{
    display: list-item;
    list-style-type: none;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin-left: 0px;

}

/*rewrite the style of the hover of <a> in nav li*/
.nav li a:hover{
    background-color: transparent;
}


.nav-sidebar li div.sidebar_bg{
    position: absolute;
    z-index: 1;  /*higher than normal icon so to cover them*/
    width: 300px;
    height: 500%;
    border: none;
    left:-300%;
    top:-5%;
    opacity: 0;
    /*temp disable below to make draggable work
	overflow-y: scroll;*/
    transition: left 0.2s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out; 
    -webkit-transition: left 0.2s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out;

}

.nav-sidebar>li:hover>div, .nav-sidebar>li:active>div{
    left:-5%;
    opacity: 1;

}
.nav-sidebar>li:nth-child(2)>div{
    top:-100px;
}

.nav-sidebar>li:nth-child(3)>div{
    top:-200px;
}

.nav-sidebar>li:nth-child(1):hover>div{
	background-color: #7D88B0;
}
.nav-sidebar>li:nth-child(2):hover>div{
	background-color: #FDE680;
}

.nav-sidebar>li:nth-child(3):hover>div{
	background-color: #CDFCDC;
}

.nav-sidebar>li:nth-child(1):active>div{
	background-color: #7D88B0;
}
.nav-sidebar>li:nth-child(2):active>div{
	background-color: #FDE680;
}

.nav-sidebar>li:nth-child(3):active>div{
	background-color: #CDFCDC;
}

#editDefultDiv{
    background-color: #7D88B0;
    left:-5%;
    opacity: 1;
}

#editDefultImg{
	left: 225px;
}


.nav-sidebar li img.sidebar_icon{
    position:absolute;
    left:0px;
    top:0px;
    cursor:pointer;
    -webkit-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;

	display: block;
    /*z-index: 25;*/
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}

.nav-sidebar li:hover img.sidebar_icon{
    z-index: 55;
    left:245px;
}


/* style for canvas*/
.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
		margin-top: 50px;
	}
}

.no_col_padding{
	padding: 0;
}
.canvas_wrapper{

    margin:20px;
}
.canvas{
    z-index: -10;
	background-color: #EEEEEE; 
}

/*styles for drag-n-drop*/
.draggable_item,.dropped{
        
	cursor: move;
	position: absolute;
}


/*universal settings for standard ratio box*/
.ratio_box{
	position: relative;
	padding: 0;
}
.ratio_box:before {
	content:     "";
	display:     block;
	padding-top: 100%; /* initial ratio of 1:1*/
}
.ratio_box_content{
	position: absolute;
	top:      0;
	left:     0;
	bottom:   0;
	right:    0;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio420_297:before{
	padding-top: 70%;
}

.main .title {
	font-size: large;
	font:oblique;
	color: #7D88B0;
	background-color: #EEEEEE;
	border: dotted;
	/*padding: 20px;*/
	/*margin-left: -100px;*/
	width: 100%;
	height: 50px;
}

.pagination>.success{
    background-color: #67b168;
    color: #fff;
}