/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2014, 3:35:35 PM
    Author     : weiwei, jenny
*/

/*Basic*/
a {
	text-decoration: none;
	cursor: pointer;
}


/*state of the navigation of the whole site*/

#start{
    margin:20px 0;
}

.page_navi li{
	background-color: #fff;
	color:#357ebd;
	border-radius: 15em;
}
.page_navi li>.active{
	background-color: #357ebd;
	color:#fff;
	border-radius: 15em;
}




/* style for the left sidebar in editpage*/
.nav-sidebar{
    margin-left: -100px;
    margin-top: 5%;
    position: fixed;
}
.nav-sidebar>ul{
    margin-top: 0;
    list-style: none;

}
.nav-sidebar>li{
    display: list-item;
    list-style-type: none;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin-left: 0px;

}

/*rewrite the style of the hover of <a> in nav li*/
.nav li a:hover{
    background-color: transparent;
}


.nav-sidebar li div.sidebar_bg{
    position: absolute;
    z-index: 1;  /*higher than normal icon so to cover them*/
    width: 200px;
    height: 467px;
    border: none;
    left:-300%;
    top:-5%;
    opacity: 0;
    /*!important enable below will make draggable not working
	overflow-y: scroll;*/
    transition: left 0.2s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out; 
    -webkit-transition: left 0.2s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out;

}

.nav-sidebar>li:hover>div, .nav-sidebar>li:active>div{
    left:-5%;
    opacity: 1;

}
.nav-sidebar>li:nth-child(2)>div{
    top:-100px;
}

.nav-sidebar>li:nth-child(3)>div{
    top:-200px;
}

.nav-sidebar>li:nth-child(1):hover>div{
	background-color: #7D88B0;
}
.nav-sidebar>li:nth-child(2):hover>div{
	background-color: #FDE680;
}

.nav-sidebar>li:nth-child(3):hover>div{
	background-color: #CDFCDC;
}

.nav-sidebar>li:nth-child(1):active>div{
	background-color: #7D88B0;
}
.nav-sidebar>li:nth-child(2):active>div{
	background-color: #FDE680;
}

.nav-sidebar>li:nth-child(3):active>div{
	background-color: #CDFCDC;
}

#editDefultDiv{
    background-color: #7D88B0;
    left:-5%;
    display:none;
}

#editDefultImg{
	left: 240px;
}


.nav-sidebar li img.sidebar_icon{
    position:absolute;
    left:240px;
    top:0px;
    cursor:pointer;
	display: block;
    /*z-index: 25;*/
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}




/* style for Edit page canvas*/
.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
		margin-top: 50px;
	}
}

.main .title {
	font-size: large;
	font:oblique;
	color: #7D88B0;
	background-color: #EEEEEE;
	border: dotted;
	/*padding: 20px;*/
	/*margin-left: -100px;*/
	width: 100%;
	height: 50px;
}

.main .btn_deletepage{
    z-index: 2;
    position: absolute;
    top:0;
    right:-5%;
}

.main .btn_addpage{
    z-index: 2;
    position: absolute;
    top:30%;
    right: -25%;
}

.no_col_padding{
	padding: 0;
}
.canvas_wrapper{

    margin:20px;
}
.canvas{
    z-index: 0;
	background-color: #EEEEEE; 
	width: 100%;
	height: 100%;
	position: relative;
}
.canvas-hover{
	background-color: #AAAAAA; 
}


/*Style for preview page*/ 
.page_thumbnail{

	/*background-color: #EEEEEE;*/ 
	height: 140px;
	width: 200px;
	float: left;
	/*margin-right: 6px;*/
	position: relative;
	cursor: pointer;
}

.page_thumbnail>label{
	position: relative;
	top: 5px;
}

/*styles for drag-n-drop*/
.draggable_item, .draggable_item_text, .dropped_item{
	cursor: move;
	position: relative;
}

/*items on menu*/
#cat_items .draggable_item{
	width: 120px;
	/*height: 100px;*/
	float: left;
}

#cat_bgs .draggable_item{
	width: 200px;
}

#cat_items .draggable_item>img, #cat_bgs .draggable_item>img{
	width: 100%;
	height: 100%;
}

.dropped_item, .preview_item{
	position: absolute;

}

/*items on canvas*/

/*TOFIX: keep aspect ratio*/
.canvas_item_bg{
	width: 100%;
	height: 100%;
	z-index: 5;
}

.canvas_item_props{
	width: 30%; 
	z-index: 10;
}

.canvas_item_props>img, .canvas_item_bg>img{
	width: 100%;
	height: 100%;
}

.canvas_item_text{
	z-index: 10;
}

.item_text_container{

	width: 150px;
	height: 105px;
	border-style: solid;
	border-width: thin;
	border-color: #555555;

	background-color: #EEE;
}

.item_text_container>div{
	padding: 4%;
}

.dropped_item>textarea, .item_text_container p, .preview_item>textarea{
	width: 100%;
	height: 100%;
	border-color: #555555;
	border-style: dotted;
	border-width: thin;
	background-color: transparent;
	resize: none;
	text-align: center;
	font-size: 200%;
	overflow: hidden;
}

/*TOFIX: make font-size dynamic and responsive*/
.page_thumbnail .preview_item>textarea{
	font-size: 55%;
}

.preview_item>textarea{
	margin: 0;
	font-weight: inherit;
	border-style: none;
}

.item_text>p{
	background-color: white;
	font-size: small;
}

.dropped_item:hover>textarea{
	border-width: medium;
}


.dropped_item>input{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
.dropped_item.canvas_item_bg>input{
	left:0px;
}


.dropped_item:hover>input{
	display: block;
}


/*universal settings for standard ratio box*/
.ratio_box{
	position: relative;
	padding: 0;
}
.ratio_box:before {
	content:     "";
	display:     block;
	padding-top: 100%; /* initial ratio of 1:1*/
}
.ratio_box_content{
	position: absolute;
	top:      0;
	left:     0;
	bottom:   0;
	right:    0;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio420_297:before{
	padding-top: 70%;
}

/*style for add and deletebutton*/

.btn_addpage, .btn_deletepage{
    opacity:0.6;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
}

.btn_addpage:hover, .btn_deletepage:hover{

    opacity:1;
}

/*style for navi dots in edit page*/
/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 10px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

/* Individual styles and effects */

/* Fill up */

.dotstyle-fillup li a {
	overflow: hidden;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px gray;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #777;
	border-radius: 50%;
	box-shadow: 0 0 1px #fff;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}
/*adjust the position of dotNavi*/
.dotNavi{
	position: relative;
    //width:700px;

    left:12%;
    z-index: 2;
}


.paging{
    left:40%;
    top:105%;
    z-index: 2;
    position: absolute;
}
/* hover style of prev & next arrow in edit page*/

.glyphicon:hover{
    cursor: pointer;
}


  input:required:invalid, input:focus:invalid {
	background-image:url();
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid {
	background-image:url(http://www.data.com/system/shared/common/assets/img/signup/green_check.png);
    background-position: right top;
    background-repeat: no-repeat;
  }